doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title I'm Board 6: How I came up with my skateboard design :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="This story gives insight into how I came up with the concept for my skatboard in the I'm Board 6 art show. ")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body 
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an 
        strong outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser to improve your experience.
    include ../../components/masthead/masthead.jade
    main.grid
      article.col-3-3
        .col-1-4(itemscope="" itemtype="http://schema.org/Article" class="")
          h5
            meta(itemprop="datePublished" content="2016-03-25") 
            | March 25, 2016
        .col-1-2
          h1 I'm Board 6: How I came up with my skateboard design
          p I created a skateboard design for the I'm Board 6 art show. This article will show you my design and thought process as I created the board graphic for the show. 
          p I have wanted to incorporate a reference the the movie 
            a.body-link(href="http://www.imdb.com/title/tt0090859/" target="_blank") Cobra
            |  for some time now. I believe the line &ldquo;You’re the disease and I’m the cure&rdquo; is the best action movie line ever! I always crack up when I hear it though. Because I think of the band &ldquo;
            a.body-link(href="https://en.wikipedia.org/wiki/The_Cure" target="_blank") The Cure
            |&rdquo; when he says the line. I am a sucker for mixing opposites too. I always like to see what happens when you mix high and low class, Punk music with Bluegrass, etc.. The movie and the band could not be more opposite.

          p Below is a video clip of the famous scene and a cure song for your reference.

          iframe(width="560" height="315" src="https://www.youtube.com/embed/mE2-7a_F_B0" frameborder="0" allowfullscreen)

          iframe(width="560" height="315" style="margin: 30px 0;" src="https://www.youtube.com/embed/wa2nLEhUcZ0" frameborder="0" allowfullscreen)
          ul.flat-list
            li
              p  
                a.btn-white-bg(href="/thoughts/im-board-6-thoughts-become-reality-through-sketches.html") See the method behind the madness. &#x2192;
          hr
        include ../../components/cta/thoughts.jade
    include ../../components/footer/footer.jade
    include ../../components/script-calls/script-calls.jade
