doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Thoughts :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="My thoughts and design process all in one place. For your viewing pleasure.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main.grid
      article.col-3-3(style="margin-top: 45px;")
        .col-1-4
              h5 
                | March 2016
            .col-3-4
              h2 
                a.body-link(href="im-board-6-from-paper-to-the-board.html")
                  | I'm Board 6: From paper to the board.
              
              h2 
                a.body-link(href="im-board-6-thoughts-become-reality-through-sketches.html")
                  | I'm Board 6: Thoughts become reality through sketches.
              
              h2 
                a.body-link(href="im-board-6-how-i-came-up-with-my-skateboard-design.html")
                  | I'm Board 6: How I came up with my skateboard design.
              
            .col-1-4
              h5 
                | December 2015
            .col-3-4
              h2 
                a.body-link(href="best-of-dribbble-2015-tigers.html")
                  | Best of Dribbble 2015: Tigers!
              
            .col-1-4
              h5 
                | January 2014
            .col-3-4
              h2 
                a.body-link(href="/thoughts/mehnimals-the-gorilla.html")
                  | Process Work: Mehnimals the gorilla
              
              h2 
                a.body-link(href="/thoughts/creating-the-sharks-logo.html")
                  | Process Work: Creating the Sharks logo
              
              h2 
                a.body-link(href="/thoughts/getting-started-with-sass.html")
                  | Know How: Getting started with Sass
              
            .col-1-4 
              h5 
                | December 2013
            .col-3-4
              h2 
                a.body-link(href="/thoughts/share-your-inspiration-creating-my-design-links.html")
                  | Process Work: Creating My Design links
              
              h2 
                a.body-link(href="/thoughts/photo-gallery-red-square-at-night.html")
                  | Inspiration Bank: The Red Square at night
              
            .col-1-4
              h5 
                | November 2013
            .col-3-4
              h2 
                a.body-link(href="/thoughts/mehnimals-the-bear-dont-care.html")
                  | Process Work: The bear don't care
              
            .col-1-4
              h5 
                | October 2013
            .col-3-4
              h2 
                a.body-link(href="/thoughts/midnight-society-brewery-logo-process.html")
                  | Process Work: Midnight Society Brewery logo
    include ../../components/cta/contact-social-media.jade
    include ../../components/script-calls/script-calls.jade