doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Process Work: Just Love Signs :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I created signs based on a story my parents told me about how they chose to raise me.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body 
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an 
        strong outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser to improve your experience.
    include ../../components/masthead/masthead.jade
    main.grid
      article.col-3-3(style="margin-top: 45px;")
        .col-1-4(itemscope="" itemtype="http://schema.org/Article" class="")
          h5
            meta(itemprop="datePublished" content="2013-10-26") 
            | October 26, 2011
        .col-1-2
          h1 Process Work: Just Love Signs
          p When I was born my mother asked my father How will we raise our son? My father replied, just Love him.
          img(src="/img/thoughts/just-love-02.jpg" alt="The Just Love signs.")

          img(src="/img/thoughts/just-love-03.jpg" alt="I set the base paint first by tiling squares on the wood.")

          img(src="/img/thoughts/just-love-04.jpg" alt="Once the base coat of paint was set. I started drawing the letters that would fill the squares.")

          img(src="/img/thoughts/just-love-05.jpg" alt="I sketched every letter to size befor making them into a stencil.")

          img(src="/img/thoughts/just-love-06.jpg" alt="Once the letter was designed I created the stencil and sprayed the letter on the board.")

          img(src="/img/thoughts/just-love-01.jpg" alt="The completed signs hung on the wall.")

    include ../../components/cta/thoughts.jade
    include ../../components/cta/contact-social-media.jade
    include ../../components/script-calls/script-calls.jade
