doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Mehnimals: The bear don't care :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body 
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an 
        strong outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser to improve your experience.
    include ../../components/masthead/masthead.jade
    main.grid
      article.col-3-3
        .col-1-4(itemscope="" itemtype="http://schema.org/Article" class="This is my process for designing a t-shirt for Cotton Bureau.")
          h5
            meta(itemprop="datePublished" content="2013-11-18") 
            | November 18, 2013
        .col-1-2
          h1 Process Work: The bear don't care
          p Logos made by 
            a.body-link(href="http://www.brandiose.com/behind-the-scenes/mobile/10" title="Link to Braniose's porfolio" target="_blank") Brandios
            |  and a wall mural created by 
            a.body-link(href="http://graphicambient.com/2012/08/12/space-for-all-species/" title="Link to a an article by Graphic Ambient" target="_blank") Charley Harper
            |  inspired me to started drawing animal icons as an exercise. This is exercise was intended to push how far I could go with making an icon. I was limited to using only one color. This forced me to maximise the positive and negative shapes within the icon. Another parameter I set was that the animals had to look apathetic. Because of this I call them Mehnimals, the speech bubble is the logo for the series.
          img(src="/img/thoughts/mehnimals-the-bear-dont-care-1.jpg" alt="The drawing of my bear Mehnimal.")
          p I scanned and made my drawing into a vector. After that I looked for a generic san serif typeface to fit the message. I landed on a typeface called 
            a.body-link(href="https://www.daltonmaag.com/aller" title="This goes to foundry Dalton Magg’s site." target="_blank") Aller
            |. It was strong enough to be noticed, yet generic enough to be soon forgotten.
          img(src="/img/thoughts/mehnimals-the-bear-dont-care-2.png" alt="The digitized version of my bear Mehnimal.")
          p I decided that the illustration would look great on a t-shirt. The designs dovetail perfectly with the other the designs for my t-shirt company Midnight Society Apparel. Below are the design options I created for the shirt.
          h2 Option 1
          img(src="/img/thoughts/mehnimals-the-bear-dont-care-3.jpg" alt="The first t-shirt option I created.")
          h2 Option 2
          img(src="/img/thoughts/mehnimals-the-bear-dont-care-4.jpg" alt="The second t-shirt option I created.")
          h2 Option 3
      section.col-3-3
        .col-1-2
          img(src="/img/thoughts/mehnimals-the-bear-dont-care-5.jpg" alt="The front of the third t-shirt option I created.")
        .col-1-2
          img(src="/img/thoughts/mehnimals-the-bear-dont-care-6.jpg" alt="The back of the third t-shirt option I created.")
      section.col-3-3
        .col-1-4
          | &nbsp;
        .col-1-2
          h2 Update
          p I chose an option and sent it to 
            a.body-link(href="https://cottonbureau.com/people/andrew-wolson" title="This goes to my profile on Cotton Bureau’s site." target="_blank") Cotton Bureau
            | . Fortunately they liked the design enough to give it a shot on their site. But the shirt didn’t sell enough to make it a reality. This is not the end. If enough people sign up for the shirt on their site, it will be brought back again.
          p 
            a.body-link(href="https://cottonbureau.com/products/the-bear-dont-care") Let’s make this shirt a reality!
          hr
        include ../../components/cta/thoughts.jade
    include ../../components/footer/footer.jade
    include ../../components/script-calls/script-calls.jade