doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Resume :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I am a UX/UI Designer with a background in Graphic Design. I know HTML/JADE, CSS/SASS and I am willing to learn new languages.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/navigation/navigation-about.jade
    include ../../components/masthead/masthead.jade
    main.grid
      article.col-3-3
        .col-1-4.mobile-hide
          &nbsp;
        .col-1-2
          h1 User Experience and Graphic Design
          p Highly creative and accomplished technology and marketing professional with a solid history of creating strong, clean, interactive, and intuitive sites. Knowledgable in HTML/JADE, CSS/SASS and is willing to learn any web language necessary. Successful in managing projects from inception to deployment.
          h2 Professional Experience
          h3 Freelance Designer
          p
            | JUNE. 2016 – PRESENT
            br 
            em Jacksonville FL.
            br 
            | Create designs for various clients, focusing on website design.
          h3 Digital UX Designer 
          p
            | JAN. 2013 - JUNE. 2016
            br
            em EverBank, Jacksonville FL.
            br
            | Created, designed, and managed over 400 loan officer websites as the UX SME of Mortgage Marketing.
          h3 Graphic Designer
          p
            | DEC. 2011 - JAN. 2013
            br
            em EverBank, Jacksonville FL.
            br
            | Designed and created marketing materials for EverBank both print and web.
          h3 Freelance Designer
          p
            | NOV. 2011 – DEC. 2011
            br
            em Jacksonville FL.
            br
            | Created designs for various clients, ranging from car wraps to website designs.
          h3 Webmaster
          p
            | SEP. 2011 – NOV. 2011
            br
            em Wrapid Impressions, Jacksonville FL.
            br
            | Redesign and maintained the companies website.
          h3 Intern
          p
            | JUL. 2011 – SEP. 2011
            br
            em Wrapid Impressions, Jacksonville FL.
            br
            | Designed wraps for cars, trucks, boats and signs.
          h3 Work study
          p
            | SEP. 2010 – MAR. 2011
            br
            em SCAD, Savannah GA.
            br
            | Designed desktop backgrounds for the Graphic Design department.
          h3 Freelance Designer
          p
            | JAN. 2011 – FEB. 2011
            br
            em Hugo Boss, Savannah GA.
            br
            | Created a package design for male underwear through SCAD.
          h3 Intern
          p
            | JUNE. 2010 – AUG. 2010
            br
            em RT Publishing, Jacksonville FL.
            br
            | Redesigned their website and designed their newspapers.
          h3 Design Editor
          p
            | SEP. 2007 – MAY. 2008
            br
            em The Campus Voice FSCJ, Jacksonville FL.
            br
            | Designed the overall look and redesign of the newspaper.
          
        .col-1-4.resume-block
          h2 Education
          h3 BFA in Graphic Design
          p Savannah College of Art and Design 
            br
            | Fall 2011
          h3 AAS in Graphic Design Technology
          p Florida State College at Jacksonville
            br
            | Fall 2008
          h2 Recognition
          p Finalist 2010 scaddy Awards
          p Who’s Who Among Students in American Junior Colleges
          p Florida State College at Jacksonville Downtown Campus Outstanding Student Achievement Award
          h2 Organizations
          p Web Chair
            br
            | AIGA Jacksonville
            br
            | 2014 – present
          p President
            br
            | The Union, Graphic Design Club 
            br
            | 2009 – 2011
          p Phi Theta Kappa FSCJ
            br
            | 2006 – 2008
          h2 Software
          p Proficient in:
            br
            | Adobe Illustrator
            br
            | Indesign
            br
            | Photoshop
            br
            | HTML5/Jade
            br
            | CSS3/SASS
            br
            | InVision App
            br
            | Trello App
            br
            | javascript
            br
            | Slack App
            br
            | Sitecore
            br
            | Microsoft TFS

      article.col-3-3
        .col-1-4.mobile-hide
          |  &nbsp;
        .col-1-2
          hr
      section.col-3-3
        ul.flat-list
          li
            p 
              a.btn-white-bg(href="/andrew_wolson_resume.pdf") 
                | download resume &#x2193;
    include ../../components/footer/footer.jade  
    include ../../components/script-calls/script-calls.jade
