section.homepage-contact-callout
      h2 Want to work together, say hi, or talk about tigers?
      ul.flat-list
        li
          p
            a.btn-black-bg(href="/contact/") Let's talk

section.homepage-social-lockup
  a.linkedin(href="https://www.linkedin.com/in/andrew-wolson-90950026") 
    h5 Linkedin
  a.dribbble(href="https://dribbble.com/wolsondesign") 
    h5 Dribbble
  a.github(href="https://github.com/wolsondesign") 
    h5 Github
  a.twitter(href="https://twitter.com/wolsondesign") 
    h5 Twitter