link(href='../css/main.min.css', rel='stylesheet')
//- defer load javascript
script.
  function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "/js/vendor/modernizr-2.8.3.min.js";
  document.body.appendChild(element);
  }
  if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')
script(src="/js/main.js")
script(src="/js/plugins.js")
script.
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-17380590-1','auto');ga('send','pageview');