header#navigation
  .grid
    a.menu-link(href="#menu") Menu
    nav#menu(role="navigation")
      ul
        li
          a(href="/work") work
        li.active
          a(href="/about") about
        li
          a(href="/thoughts") thoughts