nav.primary-navigation
  .navigation-element
    a.body-link(href="/work/") Work
  .navigation-element
    a.body-link(href="/about/") About
  .navigation-element
    a.body-link(href="/contact/") Contact
  .navigation-element
    a.body-link(href="/thoughts/") Thoughs