header#navigation
  a.body-link.black-bg.menu-link(href="#menu") Menu
  nav#menu(role="navigation")
     ul
       li
         a(href="/work") 
           p.body-link Work
       li
         a(href="/about") 
           p.body-link About
       li
         a(href="/contact") 
           p.body-link Contact
       li
         a(href="/thoughts") 
           p.body-link Thoughts