header#navigation
  a.body-link.black-bg.menu-link(href="#menu") Menu
  nav#menu(role="navigation")
    ul
      li
        a(href="/thoughts") 
          p.body-link Thoughts
      li
        a(href="/about") 
          p.body-link About
      li
        a(href="/work") 
          p.body-link Work
          