doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AIGA Jacksonville :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="As the Web Chair I have designed and enhanced the website for AIGA Jacksonville using Wordpress.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main
      .introduction
        img(src="/img/work/aiga-jacksonville/aiga-jacksonville-cover-large.jpg")
        .introduction-text
          h1 AIGA Jacksonville
          h5 Web Chair
          p I joined AIGA Jacksonville as it’s web chair in August 2014. When I came on board I looked at the status of the site and found the site did not have a plan for conversions nor did we leverage it’s analytics. I started by asking other chair members what their goals were. Then I created a strategy that would support the chapter's goals. This strategy coupled with member interviews at events would form the basis of my work on the site.
      .grid
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            h2 Updating the site structure to improve the user flow
            p I started by looking at the page structure of the site. There were many enhancements that have improved the user experience. We consolidated content across the site. The content related to the About page was in four separate pages. I moved the content into one page. By doing this, there is one click versus four for the user. There were external links in the navigation. This made for a confusing experience because people would use the navigation on our site, click a link and go to the AIGA national site. I solved this problem by moving the external links from the navigation, then placing them into relevant pages. This resolved the confusion and consolidated content into appropriate web pages.
          .col-3-3
            img(src="/img/work/aiga-jacksonville/aiga-jacksonville-new-site-structure.png")
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            h2 Simplification of the homepage
            p When I started the redesigning the site I started with the homepage. The first step was meeting with the Communications team to talk about the strategy of the page. Once we created the strategy, I started executing mockups in Photoshop to iron out the design. The team reviewed the mockups and approved them. At this point, I made the page updates in Wordpress.
            p The core of the updates came from simplifying the webpage to make the user experience better. We focused on the latest three stories to highlight relevant events. At the bottom of the section is a button the goes to the all events page. By focusing the user experience we gave the latest event pages a bump in views.
          .col-2-3
            img(src="/img/work/aiga-jacksonville/aiga-jacksonville-early-comp.jpg")
          .col-1-3
            p.caption Early homepage comp
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            p The next section features four news articles. Articles help to promote two parts of the strategy we created for the redesign. They can feature old events that show new members what our events are like. Other articles are educational and help build the chapters credibility.
            p Finally we added a newsletter CTA to the bottom of the page. Our newsletter is one of our most successful outlets for promoting events and articles. By creating a full width CTA that focuses on the sign up, we have increased sign ups dramatically. There has been a bump in traffic for our webpages featured in the newsletter. The CTA and the newsletter are working together to build and create positive engagement.
          .col-2-3
            img(src="/img/work/aiga-jacksonville/aiga-jacksonville-production.jpg")
          .col-1-3
            p.caption Updated homepage
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            h2 Improving the site
            p The site is still a work in progress. We are using the analytics we have collected to improve the user experience. This project has been a creative challenge and has grown me as a designer. I look forward to continuing the improvement to the site.
            hr
        section.col-3-3.credit-box
            h2 Team
            .col-1-3
              h4 Amber Altman
              h6 Vice President
            .col-1-3
              h4 Paula Rubman
              h6 Communications Director
            .col-1-3
              h4 Jason Kellum
              h6 Newsletter Chair
            .col-1-3
              | &nbsp;
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            hr
    include ../../components/cta/work.jade
    include ../../components/cta/contact-social-media.jade  
    include ../../components/script-calls/script-calls.jade
