doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Apparel Collection :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="A collection of t-shirt designs that I have created over the years.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main
      .introduction
        img(src="/img/work/apparel-collection/apparel-collection-cover-large.jpg")
        .introduction-text
          h1 Apparel Collection
          h5 Fashion and graphic design
          p I like to design t-shirts because they are a simple form of communicating ideas. My process involves starting with an idea and executing the idea as quick as possible. Below is the collection of t-shirts I have designed over the years.
      .grid
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Brofessional
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-brofessional.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Creative Excellence
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-creative-excellence.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 King Street
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-king-street.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Live Every Weekend
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-live-every-weekend.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 RV City
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-rv-city.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Stay Pawsitive
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-stay-pawsitive.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 The Bear Don't Care
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-the-bear-dont-care.jpg")

        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Unitiger
        section.col-3-3
          img(src="/img/work/apparel-collection/apparel-collection-unitiger.jpg")
            
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            hr
    include ../../components/cta/work.jade
    include ../../components/footer/footer.jade
    include ../../components/script-calls/script-calls.jade
