doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8") 
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Archive :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="This is the work I have completed in the past.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade

    main(style="float: left; width: 100%;")
      .callout
            h1 Welcome to my <span style="text-decoration: line-through;">Dungeon</span> Sitemap.
      section.raisin-hell
        article.feature-text
          h2 Raisin Hell
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/raisin-hell.html") View Case Study
  include ../../components/cta/contact-social-media.jade
  include ../../components/footer/footer-congratulations.jade
  include ../../components/script-calls/script-calls.jade