doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title EverBank :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I enhanced the websites of all 400 plus Loan Officers that EverBank supports.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body 
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main
      .introduction
        img(src="/img/work/everbank/everbank-cover-work-large.jpg")
        .introduction-text
          h1 EverBank
          h5 UX Design and Front-end Development
          p At EverBank I was a dedicated UX designer for the Retail Loan Origination division. The division supported Retail Loan Officers (RLO). RLOs go out into the world and bring in Loans for the bank. Because of this they need marketing material to support them. Each RLO has a specialized website. The goal of the project was to make the entire loan process more efficient from start to finish.
      .grid
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 How do you enhance the User Experience for the production team?
            p The project started by working with Business Analyst Jody Washick. She saw the issues I was experiencing creating the websites for the new loan officers. So she started by documenting the entire Loan Officer web site process. Then she looked at how to enhance the entire process. I supported Jody by providing information of how the process worked. She came up with a more efficient process and sold it to the higher ups and thus began the project.
            h2 Automation is the answer.
            p Before, there were gross inefficiencies with the process. The majority of the process was manual copy and pasting. Spreadsheets were the source of information. Worst of all there were knowledge and information gaps between the teams. That caused teams to throw problems over the fence when it was their responsibility. Jody proposed automating the process as much as possible. Moving to the HR database as the record of source instead of spreadsheets. Her new process made the teams roles and goals transparent.
        section.col-3-3
          .col-3-3
            img(src="/img/work/everbank/everbank-flow-chart.png")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Loan Officers are more than meets the eyes.
            p Part of the automation called for creating new templates in Sitecore. This became an opportunity to improve the Loan Officers websites. I worked with Copywriter Mellissa Miller to create a new content strategy. The old Loan Officer websites contained a single page with one template for all the Officers. After researching what the business supported and gathering feedback from Loan Officers. We realized that Loan Officers for EverBank supported a wide rang of products. Most Loan Officers specialize in specific Loans with unique goals.
            p We sat down a identified the different types of Loan Officers and what their needs were. From this list we proposed to build a template for each Loan Officer type. Once we identified the types. We started talking about the content needed to support the Loan Officers. Part of our strategy involved adding pages to the templates. We added an Our Solutions page to help the client learn about the products we offered. Another added page, About Me gave information on the Loan Officer. The purpose of the page is to help connect the client and their agent.
        section.col-3-3
          .lo-types
            h2 Loan Officer website types
            p Builder
              sup *
            p Realtor
              sup *
            p Consumer
              sup *
            p Recruiter
            p Team
            h5 * Site type can be a hybrid of the regular and recruiter template.
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            p As our content strategy started to solidify. I understood the content needs of the pages. The last part of my research involved me looking at examples of previous EverBank work. I looked through other websites team members had created. To see what patterns I could leverage. Mellissa started on creating the copy and I started sketching out the web pages. During this time I used the sketches to test new and existing patterns. To see if there were any major gaps in the design. If I found any problems, I would let Mellissa know of the issue. We would solve the problem from a content strategy perspective.
        section.col-3-3
          .col-3-4
            img(src="/img/work/everbank/everbank-sketches-desktop-mobile.jpg")
            p.caption Sketch of the desktop version of the homepage.
          .col-1-4
            img(src="/img/work/everbank/everbank-sketches-mobile-mobile.jpg")
            p.caption The Mobile sketch streamlined all the content and added hamburger menu to the nav bar.
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            p Once Melissa handed me the copy. I started to mock-up the website in Adobe Illustrator. I placed the copy in the mock-up we tweaked the copy as needed. Next, I added the graphics to the mockup. Once the mock-up was complete I sent the flats out to stakeholders for their approval. After receiving minor feedback and the changes made. I sent the flats to the legal department for their review. There were no legal changes needed. Once we had all the needed approvals. It was time to move the pages into production.
        section.col-3-3
          .col-3-4
            img(src="/img/work/everbank/everbank-homepage-desktop-mock-up.png")
            p.caption Mocking up the desktop in Illustrator helped to identify possible issues with the content.
          .col-1-4
            img(src="/img/work/everbank/everbank-homepage-mobile-mock-up.png")
            p.caption The mobile mockup broke everything into a single column.
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            p At this point I started working with our front-end developer John Apostle and our back-end developer Matthew Sherwood. Using the flowchart Jody created. We mapped out what was needed from our developer. Set a timeline and created a plan. So all the parts would come together at the same time. We all worked together to ensure all of the pieces of the template were accounted for on the back-end. My deliverables included providing code to Matthew. I created the HTML assets for the page. Piece by piece then I handed the code over to Matthew so he could add the code into the template. John Apostle worked on the functionality of the page. He setup the email form and handed it over the Matthew for production. When Matthew completed his work. We launched a few pilot sites. This helped us to iron out the kinks with the code/design. Once this was complete we pushed the changes to all 400 plus Loan Officer websites.
        section.col-3-3
          .col-3-4
            img(src="/img/work/everbank/everbank-homepage-desktop-initial-code.jpg")
            p.caption Mocking up the desktop in Illustrator helped to identify possible issues with the content.
          .col-1-4
            img(src="/img/work/everbank/everbank-homepage-mobile-initial-code.jpg")
            p.caption The mobile mockup broke everything into a single column.
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            p We kept improving the site as we went along. One of the major enhancements to the site was the addition of comprehensive analytics. I worked with Jay Lewis our Web Analyst to gain insight in the user's behavior so we could improve the user experience.
        section.col-3-3
          .col-3-4
            img(src="/img/work/everbank/everbank-latest-desktop.jpg")
          .col-1-4
            img(src="/img/work/everbank/everbank-latest-mobile.jpg")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            hr
            section.col-3-3.credit-box
              h2 Team
              .col-1-3
                h4 TJ Wolf
                h6 Creative Director
              .col-1-3
                h4 Lesley Foster
                h6 Web Supervisor
              .col-1-3
                h4 Melissa Miller
                h6 Copywriter
              .col-1-3
                h4 John Apostol
                h6 Front-end Developer
              .col-1-3
                h4 Jody Washick
                h6 Business Analyst
              .col-1-3
                h4 Jay Lewis
                h6 Web Analyst
              .col-3-3(style="text-align: center; margin-top: 20px;")
                h4 Matthew Sherwood
                h6 Back-end Developer
          section.col-3-3
            .col-1-4.mobile-hide
              | &nbsp;
            .col-1-2
              hr
    include ../../components/cta/work.jade
    include ../../components/cta/contact-social-media.jade
    include ../../components/script-calls/script-calls.jade
