doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title EverBank :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I enhanced the websites of all 400 plus Loan Officers that EverBank supports.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/navigation/navigation-work.jade
    include ../../components/masthead/masthead.jade
    main.grid
      section.col-3-3
        .col-1-4
          h6 Role:
          h5 Digital UX designer, Front-end Developer
          h6 Team:
          h5 TJ Wolf
            br 
            em Creative Director
          hr
          h5 Lesley Foster
            br 
            em Web Supervisor
          hr
          h5 Melissa Miller
            br
            em Copywriter
          hr
          h5 John Apostol
            br
            em Front-end Developer
          hr
          h5 Matthew Sherwood
            br
            em Back-end Developer
          hr
          h5 Jay Lewis
            br 
            em Web Analyst
          hr
          h5 Jody Washick
            br 
            em Business Analyst
          h6 Context:
          h5 Website design and user experience improvements.
          h6 Website:
          h5 
            a(href="https://www.everbank.com/_experts/lending/j/jill-moore") everbank.com
        .col-1-2
          h1 EverBank
          p At EverBank I was a dedicated UX designer for the Retail Loan Origination division. The division supported Retail Loan Officers (RLO). RLOs go out into the world and bring in Loans for the bank. Because of this they need marketing material to support them. Each RLO has a specialized website. The goal of the project was to make the entire loan process more efficient from start to finish.

          .website-display-head
            img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/desktop-mockup.png")
          .website-display.loprofile
            img(src="http://wolsondesign.com/img/work/everbank/everbank-loan-officer-website-01.jpg")

          h2 Enhancing the RLO experience.

          p The project started because of RLO feedback. Some of the RLOs wanted a more in-depth website. At the time RLOs had a single brief page. That was geared toward customers who needed to sign up for their loan online. But the RLOs wanted a site that could help to sell loans to prospective customers. I worked with Melissa Miller to create a content strategy that supported the needs of the RLOs.

          p We started by mapping out the different types of RLOs. We found the following types: consumer, builder, retail, recruiter hybrid, and recruiter only. We then started creating the appropriate strategy for the RLO type. Because they all have different users and goals. There are over 400 RLOs at any given time. Creating a custom site for each one of them is out of the question. So we had to develop a strategy that supported a template while making the sites feel individual.

          p The old sites had a single page. The new sites have up to four pages depending on the type of officer. The homepage is set up to support the type of RLO who is using the site. While the our solutions page informs clients is informative for prospective clients. The About Me page gives the client background on the RLO they are looking to work with. Some of the RLOs bring in loans and recruit other officer, the recruiter page is for them.

          .website-display-head
            img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/desktop-mockup.png")
          .website-display.recruitprofile
            img(src="http://wolsondesign.com/img/work/everbank/everbank-loan-officer-website-02.jpg")

          h2 Enhancing the customer experience.
          
          p While I was working with Melissa to create the content strategy. I was consulting our web analyst Jay Lewis to learn how clients were using the site. There are two actions a client can take on the site. One is starting a new loan. The other checking on an existing loan status. On the old site we saw users had to find the links to these actions in an open/close tab at the bottom of the page. I updated the page to have the links in an area called the CTA bar. I placed the links at the top and the bottom of the page so the user can get to them faster.

          h2 Enhancing my experience.

          p A part of this project consisted of working with a Business Analyst named Jody Washick. She saw the difficulties I was having creating the old sites. Most of the process was manual. Jody mapped out the old process and created an automated process. She got the business on board and helped to set up the new system. The new process reduced the time it took to make and update the RLO websites. Thus opening up my time for work on bigger and better projects.

          h2 What I have learned. 

          p I learned how to use client feedback and data to improve the user experience. Gained a full understanding of the business process from start to finish. Built relationships with members from other teams. While gaining an appreciation for their contribution to the company.

          hr
      include ../../components/cta/work.jade
    include ../../components/footer/footer.jade  
    include ../../components/script-calls/script-calls.jade
