doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Andrew Wolson's recent graphic and web design projects. - Wolson Design
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/navigation/navigation-work.jade
    include ../../components/masthead/masthead.jade
    main.grid
      article.view
        a(href="/work/everbank-loan-officer-website.html")
          img(src="/img/work/everbank/lo-profile-mockup.jpg")
          .mask
            h3 Everbank Loan Officer websites
      article.view
        a(href="/work/fontslate-website.html")
          img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/font-slate-mockup.jpg")
          .mask
            h3 FontSlate website
      article.view
        a(href="/work/wedding-collateral.html")
          img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/wedding-invitations-mockup.jpg")
          .mask
            h3 wedding pieces
      rticle.view
        a(href="/work/discover-design-2016.html")
          img(src="/img/work/discover-design-2016/discover-design-2016-work-cover.jpg")
          .mask
            h3 Discover Design 2016
      article.view
        a(href="/work/bru-hast.html")
          img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/bru-hast-mockup.jpg")
          .mask
            h3 Brü Hast
      article.view
        a(href="/work/raisin-hell.html")
          img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/raisin-hell-mockup.jpg")
          .mask
            h3 Raisin Hell
  include ../../components/footer/footer.jade  
  include ../../components/script-calls/script-calls.jade