doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8") 
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Work :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="Featured are my most recent UX/UI and print design projects.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main(style="float: left; width: 100%;")
      section.work-feature-1
        article.feature-text
          h2 EverBank
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/everbank-loan-officer-website.html") View Case Study

      section.work-feature-2
        article.feature-text
          h2 AIGA Jacksonville
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/aiga-jacksonville.html") View Case Study

      section.work-feature-3
        article.feature-text
          h2 FontSlate
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/fontslate-website.html") View Case Study

      section.work-feature-4
        article.feature-text
          h2 Discover Design 2016
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/discover-design-2016.html") View Case Study

      section.work-feature-5
        article.feature-text
          h2 Wolson Wedding
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/wedding-collateral.html") View Case Study

      section.work-feature-6
        article.feature-text
          h2 Brü Hast
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/bru-hast.html") View Case Study

      section.work-feature-7
        article.feature-text
          h2 Raisin Hell
          ul.flat-list
            li
              p
                a.btn-white-bg(href="/work/raisin-hell.html") View Case Study
  include ../../components/cta/contact-social-media.jade
  include ../../components/footer/footer-congratulations.jade
  include ../../components/script-calls/script-calls.jade