doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Logo Collection :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="A collection of logos that I have created for clients over the years.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main
      .introduction
        img(src="/img/work/logo-collection/logo-collection-cover-large.jpg")
        .introduction-text
          h1 Logo Collection
          h5 Branding and graphic design
          p A logo is the face of a company. It is important to be unique and relevant to the brand it represents. Below is a selected collection of the logos I have created over the years.
      .grid
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Brain Dogs
            h5 trivia team
        section.col-3-3
          img(src="/img/work/logo-collection/brain-dogs-context.jpg" alt="A can Koozie featuring the Brain Dogs logo.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Drools of the trade
            h5 children's toy company
        section.col-3-3
          img(src="/img/work/logo-collection/drools-context.jpg" alt="The Drools of the trade logo on a model of one of the teethers.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 North Florida Landscape Design
            h5 landscape design
        section.col-3-3
          img(src="/img/work/logo-collection/north-florida-landscape-design-context.jpg" alt="A truck vinyl wrap for North Florida Landscape Design.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Syndicate Design
            h5 creative collective
        section.col-3-3
          img(src="/img/work/logo-collection/syndicate-division-context.jpg" alt="A t-shirt designed for Syndicate Division Apparel.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Terrible Movie Night
            h5 social club
        section.col-3-3
          img(src="/img/work/logo-collection/terrible-movie-night-context.jpg" alt="A television displaying Terrible Movie Night graphics and logo.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 The Bar Chaplain
            h5 christian ministry
        section.col-3-3
          img(src="/img/work/logo-collection/the-bar-chaplain-context.jpg" alt="The Bar Chaplain graphics applied to a website.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Brew Crew
            h5 work group
        section.col-3-3
          img(src="/img/work/logo-collection/brew-crew-context.jpg" alt="The Brew Crew logo applied to a coffee mug.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Re-Fresh festival
            h5 music and arts festival
        section.col-3-3
          img(src="/img/work/logo-collection/re-fresh-context.jpg" alt="Re Fresh billboard pomotion.")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Brü Hast
            h5 growler store
        section.col-3-3
          img(src="/img/work/logo-collection/bru-hast-context.jpg" alt="The Brü Hast logo applied to a growler.")
        section.col-3-3
          .col-1-4.mobile-hide
            | &nbsp;
          .col-1-2
            hr
    include ../../components/cta/work.jade
    include ../../components/cta/contact-social-media.jade
    include ../../components/script-calls/script-calls.jade
