doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Raisin Hell :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="Raisin Hell is a comic where California Raisins meets Die Hard. I did the writing and print design for the comic.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main
      .introduction
        img(src="/img/work/raisin-hell/raisin-hell-cover-large.jpg")
        .introduction-text
          h1 Raisin Hell
          h5 Co-Creator, Writer
          p Raisin Hell is a brainchild of mine, inspired by equal parts California Raisins and Die Hard. A comic that follows a GMO raisin named Brazen Raisin. Brazen is an assassin for the USDA, who received permanent finger guns from the agency. He has an oath to protect the interest of the agency at all costs. But there is an enemy growing in the shadows that will test everything that makes him a raisin.
      .grid
        section.col-3-3
          .col-1-4
            &nbsp;
          .col-1-2
            h2 Creating the wordmark
            p When coming up with the wordmark. I wanted it incorporated in to the frame. Because it is an efficient use of space. That way we didn't have to loose room to a big masthead. After I wrote the story. Roy created the rough layout. From there I chose to put the wordmark on the wall behind the villain in the opening frame. I created several different versions. We chose the best version and roy incorporated it into the frame. I like how the wordmark helped to present the shady atmosphere of the restaurant.
          .col-2-3
            img(src="/img/work/raisin-hell/raisin-hell-wordmark-final.png")
          .col-1-3
            h5 Wordmark pannel
        section.col-3-3
          .col-1-4
            &nbsp;
          .col-1-2
            h2 Creating the byline
            p Roy and I create this comic for the creative collaborative Syndicate Division. The inspiration for the byline comes from the USDA seal of approval. Its a subtle nod to the agency Brazen works for. This the first issue does not go into the connection yet. But it will become clear in future editions.
          .col-2-3
            img(src="/img/work/raisin-hell/raisin-hell-wordmark-byline.png")
          .col-1-3
            h5 Wordmark byline
        section.col-3-3
          .col-1-4
            &nbsp;
          .col-1-2
            h2 When it all comes together
            p Roy and I worked together to create the story and visual direction of the comic. The idea for the first issue started as a conversion Roy and I had. About  how terrible it is the think you are about the eat a chocolate chip cookie only to find out it’s a raisin cookie. Collaborating with Roy was a good exercise in story writing. Showing me how comic books can make my vision come to life.
          .col-1-2
            img(src="/img/work/raisin-hell/raisin-hell-page-1.jpg")
          .col-1-2
            img(style="width: 95%;" src="/img/work/raisin-hell/raisin-hell-page-2.jpg")
        section.col-3-3
          .col-1-4
            &nbsp;
          .col-1-2
            hr
        section.col-3-3.credit-box
            h2 Team
            .col-1-3
              &nbsp;
            .col-1-3
              h4 Roy Cai
              h6 Co-Creator, Illustrator
        section.col-3-3
          .col-1-4
            &nbsp;
          .col-1-2
            hr
        include ../../components/cta/work.jade
    include ../../components/footer/footer.jade  
    include ../../components/script-calls/script-calls.jade