doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Wolson Wedding :: Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I designed the print pieces for my own wedding. This is the story of how events unfolded.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/masthead/masthead.jade
    main
      .introduction
        img(src="/img/work/wedding-collateral/wedding-collateral-cover-large.jpg")
        .introduction-text
          h1 Wolson Wedding
          h5 Graphic Designer
          p When my wife and I were getting married. We started planning for the wedding material. I did not want to design the pieces to start. I was wary of the difficulty of designing for myself and dealing with the bride at the same time. As I started looking at what we could get for what we were paying other designers. I decided we could get a better product for a better price if I did the designs myself. The rest of the project was a blast and exceeded my wildest expectations.
      .grid
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 It all started with a tiger
            p I started by looking at stock photos to help find a creative direction for the pieces. I was going through photos and illustrations labeled “wedding”. But they were not cutting it because they did not represent us as a couple. Meagan and I are not your standard picture frame couple. So when I found an illustration of a tiger dressed like a human. It was love at first site.
          .col-2-3
            img(src="/img/work/wedding-collateral/wedding-collateral-tiger.png")
          .col-1-3
            p.caption The tiger Illustartion I found created by Olga Angelloz.
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Save the date
            p For the save the dates I wanted something that people will not only want to put on their fridge. I wanted people to keep it on their fridge way after the wedding. During my research, I found most save the dates used pictures of the couple. So I took the opposite direction and placed the tiger illustration front and center. I also liked using a tiger with an eye patch. Because it has a shock factor and symbolizes wild untamed love.
            p We invited a wide range of people to the wedding. I divided the audience into two sections. Conservative grandmother and wildcard friends. We created two different versions of the card. One with a conservative headline and the other with a more wild headline. We received only positive feedback when we sent out the card. The cards accomplished my primary mission. That is to get people pumped for the wedding.
        section.col-3-3
          .col-2-3
            img(src="/img/work/wedding-collateral/wedding-collateral-tiger-01.jpg")
          .col-1-3
            p.caption Save the date
        section.col-3-3
          .col-1-2
            img(src="/img/work/wedding-collateral/wedding-collateral-tiger-02.jpg")
          .col-1-2
            img(style="width: 95%;" src="/img/work/wedding-collateral/wedding-collateral-tiger-03.jpg")
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            h2 Invitation card
            p We created two pieces for the invitation. A card to place on the fridge and a RSVP card for the guests to send back. I found two other illustrations from Olga Angelloz that fit the theme of the save the date. The save the date had established many elements that I carried over into the invitations. I brought over the colors, font, and type treatment. Once the two illustrations were in place. I found a special heart glyph that I found in the primary font. Them I added it to the illustrations. The glyph helped to tie all the elements together.
            h2 Invitation RSVP mailer
            p As part of the invitations we sent out we included a self addressed post card. I wanted to create a fun way for our guests to send their response back. The idea to use a flowchart came from the back of Wired Magazine. I always love looking to see what all the options for answers could be. So I included a chart that told us how excited our friends and family about the wedding.
            h2 A happy wife makes for a happy designer
            p When we first started I thought this would be the toughest project I have ever worked on. It turned out to be one of the most fun projects I have ever worked on. I have to credit my wife for letting me have fun by pushing what a wedding mailer could be.
            hr
        section.col-3-3.credit-box
            h2 Team
            .col-1-4
              | &nbsp;
            .col-1-4
              h4 Meagan Wolson
              h6 soon to be wife, creative director
            .col-1-4
              h4 Olga Angelloz
              h6 Illustrator
            .col-1-4
              | &nbsp;
        section.col-3-3
          .col-1-4
            | &nbsp;
          .col-1-2
            hr
    include ../../components/cta/work.jade
    include ../../components/cta/contact-social-media.jade
    include ../../components/script-calls/script-calls.jade
