doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Wedding pieces I created for my wedding. - Wolson Design
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../../components/navigation/navigation-work.jade
    include ../../components/masthead/masthead.jade
    main.grid
      section.col-3-3
        .col-1-4
          h5 Project:<br>Wedding Collateral
          h5 Role:<br><em>Soon to be husband, designer</em>
          h5 Team:<br>Meagan Wolson<br><em>soon to be wife, creative director</em><br>Olga Angelloz<br><em>Illustrator</em>
          h5 Context:<br><em>print collateral</em>
        .col-1-2
          h1 Overview
          p I designed the wedding materials for my own wedding. I actually wanted to avoid designing our materials. Because I didn’t want to deal with a bridezilla. Even worse… my bridezilla. I decided to make the materials when I saw what other designers were charging for templates and services. The thought of creating my own pieces from scratch with cheap fonts and stock photos brought me to the realization that I might as well do it myself.
          p To be honest I was surprised by how easy it was to find the proper resources. I was even more surprised by how my soon to be wife was on board with the creative direction.
      section.col-3-3
        .col-1-4
          | &nbsp;
        .col-1-2
          img(src="/img/work/wedding-collateral/wedding-collateral-tiger.png")
        .col-1-4
          .caption The tiger Illustartion I found created by Olga Angelloz.
      section.col-3-3
        .col-1-4
          | &nbsp;
        .col-1-2
          h2 It all started with a tiger
          p I started by looking at stock photos on shutterstock to find a direction I wanted to take the designs in. I was going through themes that I felt were appropriate for us a couple. But the standard “wedding” themed illustrations were not cutting it. Meagan and I are not your standard default picture frame couple. So I found an illustration of a tiger dressed like a human. It was love at first site.
          img(src="/img/work/wedding-collateral/wedding-collateral-tiger-01.jpg")
          h2 Save the date
          p For the save the dates I wanted something that people will not only want to put on their fridge. I wanted people to keep it on their fridge way after the wedding. Most of the examples I had seen had pictures of the couple. We didn’t include photos because the people who we invite should know it’s us by our names being on the print. If they don’t know they shouldn’t show up to our wedding. Because we knew our audience. We made two versions of the card. One for our friends and the other with a more conservative headline for the family. I knew the tiger illustration would cause intrigue and let people know this ain't their mother's wedding. The card got the reaction I was looking for. That is people were pumped about the event.
      section.col-3-3
        .col-1-2
          img(src="/img/work/wedding-collateral/wedding-collateral-tiger-02.jpg")
        .col-1-2
          img(style="width: 95%;" src="/img/work/wedding-collateral/wedding-collateral-tiger-03.jpg")
      section.col-3-3
        .col-1-4
          | &nbsp;
        .col-1-2
          h2 Invitation
          p I found two other illustrations from the that matched the theme of the save the date. One male tiger and a female tiger. They represented Meagan and I were the first illustration represented that I love was like the eye of tiger. I used the same type and color treatment for the sake of consistency and cost reduction. As part of the invitations we sent out. We included a self addressed post card. I wanted to create a fun way for our guests to send their response back. The idea to use a flowchart came from Wired Magazine. I always love looking to see what all the options for answers could be. So I included a chart the told us how excited our friends and family were to attend or not make it.
          h2 A happy wife makes for a happy designer
          p I was surprised how much fun this project would be. I was even more surprised by how well the collateral was received. I had a lot of people who were excited to come and loved the fact that they had never seen an invite like ours.
          hr
      section.col-3-3
        ul.flat-list(align="center")
          li
            p  
              a.secondary-button(href="/work") View all projects &#x2192;
    include ../../components/footer/footer.jade  
    include ../../components/script-calls/script-calls.jade
