.chevron.chevron-project-bottom
footer
  section.contact-cta
    article.inside
      h2 Like what you see?
      ul.flat-list
        li
          p
            a.btn-black-bg(href="/contact/") Say Hello &#x2192;
  section.social-links
    article
      ul.flat-list
        li
          a(href="https://www.linkedin.com/in/andrew-wolson-90950026")
            .icon-linkedin
        li
          a(href="https://dribbble.com/wolsondesign") 
            .icon-dribbble
        li
          a(href="https://github.com/wolsondesign") 
            .icon-github
        li
          a(href="https://www.tumblr.com/blog/wolsondesign")
            .icon-tumblr
        li 
          a(href="https://twitter.com/wolsondesign")
            .icon-twitter
      