footer 
  section.social-links
    article
      ul.flat-list
        li
          a(href="https://dribbble.com/wolsondesign") Dribbble 
          | &middot;
        li 
          a(href="http://codepen.io/wolsondesign/") CodePen 
          | &middot; 
        li 
          a(href="https://plus.google.com/u/0/+AndrewWolson?rel=author") g+ 
          | &middot; 
        li 
          a(href="https://twitter.com/wolsondesign") Twitter
  section.copyright
    h5 &copy; 2016 Andrew Wolson