/* COLORS */
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$blue-light: rgb(179,212,252);
$blue: rgb(0,116,217);
$blue-mid: rgb(148,170,176);
$blue-dark: rgb(108,122,137);
$red: rgb(233,75,53);
$grey-light: rgb(249,249,249);
$grey: rgb(211,211,211);
$grey-mid: rgb(131,131,131);
$grey-dark: rgb(34,34,34);
$yellow: rgb(255,220,0);

/* MEDIA QUERY */
$break-small-width: 37.500em;
$break-medium-width: 48em;
$break-large-width: 63.938em;
$break-xlarge-height: 44.375em;
$break-xlarge-width: 66.563em;