@import "partials/base";

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: $grey-dark;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $blue-light;
  text-shadow: none;
}

::selection {
  background: $blue-light;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  border-top: 1px solid $grey;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  background: $grey;
  color: $black;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*  ==================================================
     1. FORM
     2. FLOATING LABELS
     3. HOMEPAGE
     4. ABOUT
     5. NAVIGATION
     6. MASTHEAD
     7. RESPONSIVE IMAGE CAPTION HOVER
     8. RESPONSIVE IMG SCROLL HOVER
     9. BUTTON
     10. FLAT LIST
     11. GENERAL STYLES
     12. GRID
     
   ==================================================  */
  /* FORM */
  fieldset {
    border: none;
  }
  .success {
    p {
      color: $white;
      background-color: $yellow;
      padding: 15px;
    }
  }
   .cd-form::after {
     clear: both;
     content: "";
     display: table;
   }

   .cd-form {
    legend {
      margin: 20px 0;
      padding-bottom: 10px;
    }

    div {
      margin: 20px 0;
      position: relative;
    }

    h4, .cd-label {
      color: $blue-mid;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    .cd-label {
      display: block;
    }

    label {
      color: $white;
    }

   } 

   .cd-form input, .cd-form textarea, .cd-form select {
     color: $black;
   }

   .cd-form textarea, .cd-form select , .cd-form label {
     font-size: 1.6rem;
   }

   input#cd-name,input#cd-company,input#cd-email,textarea#cd-textarea {
     font-size: 1em;
   }
   .cd-form input[type="text"],.cd-form input[type="email"],.cd-form textarea,.cd-form select,.cd-form legend {
     display: block;
     width: 100%;
     -webkit-appearance: none;
        -moz-appearance: none;
         -ms-appearance: none;
          -o-appearance: none;
             appearance: none;
   }
   .cd-form input[type="text"],.cd-form input[type="email"],.cd-form textarea,.cd-form select {
     background-color: $white;
     border-radius: .25em;
     border: 1px solid $black;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
     padding: 12px;
   }
   .cd-form input[type="text"]:focus,.cd-form input[type="email"]:focus,.cd-form textarea:focus,.cd-form select:focus {
     border-color: #2c97de;
     box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
     outline: none;
   }
   .cd-form .cd-select {
     position: relative;
   }
   .cd-form .cd-select::after {
     /* arrow icon for select element */
     content: '';
     display: block;
     height: 16px;
     margin-top: -8px;
     pointer-events: none;
     position: absolute;
     right: 16px;
     top: 50%;
     width: 16px;
     z-index: 1;
   }
   .cd-form select {
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
     cursor: pointer;
   }
   .cd-form select::-ms-expand {
     display: none;
   }
   .cd-form .cd-form-list {
     margin-top: 16px;
   }
   .cd-form .cd-form-list::after {
     clear: both;
     content: "";
     display: table;
   }
   .cd-form textarea {
     min-height: 150px;
     resize: vertical;
     overflow: auto;
   }
   .cd-form .error-message p {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     background: $red;
     border-radius: .25em;
     color: $white;
     font-size: 1.4rem;
     padding: 16px;
     text-align: center;
   }

  .cd-form .error {
    border-color: $red !important;
    color: $red;
    font-size: 1em;
  }

  .cd-form [required] {
    background: url("/img/cd-required.svg") no-repeat top right $white;
  }

  /* FLOATING LABELS */
  .js .floating-labels div {
    margin: 28px 0;
  }

  .js .floating-labels .cd-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.2rem;
    cursor: text;
    -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
       -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
            transition: top 0.2s, left 0.2s, font-size 0.2s;
  }

  .js .floating-labels .icon .cd-label {
    left: 15px;
  }

  .js .floating-labels .cd-label.float {
    /* move label out the input field */
    top: -22px;
    left: 0 !important;
  }

  /* HOMEPAGE */
  .homepage-text {
    margin: 40px 0;
    padding: 0 15px;
  }

  .homepage-intro .inside,  .homepage-contact .inside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .chevron {
    float: left;
    position: relative;
    padding: 28px;
    height: 102px;
    width: 100%;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 50%;
      -webkit-transform: skew(0deg, 6deg);
      -moz-transform: skew(0deg, 6deg);
      -ms-transform: skew(0deg, 6deg);
      -o-transform: skew(0deg, 6deg);
      transform: skew(0deg, 6deg);

    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 50%;
      -webkit-transform: skew(0deg, -6deg);
      -moz-transform: skew(0deg, -6deg);
      -ms-transform: skew(0deg, -6deg);
      -o-transform: skew(0deg, -6deg);
      transform: skew(0deg, -6deg);
    }
  }

  .chevron-intro {
    background: $black;
    &:after, &:before {
      background: $black;
      top: 50px;
    }
  }

  .chevron-project-top {
    background: $white;
    &:after, &:before {
      background: $white;
      top: -50px;
    }
  }

  .chevron-project-bottom {
    background: $white;
    &:after, &:before {
      background: $white;
      top: 50px;
    }
  }

  .homepage-intro {
    background: $black;
    padding-top: 50px;
    
    .unitiger {
      border: 9px solid #fff;
      border-radius: 0 0 300px 300px;
      width: 375px;
      margin: 0 auto 25px auto;

      h1 {
        margin: 15px 0 -40px 0;
        background: $black;
        z-index: 100;
        line-height: 1.2em;
        color: $white;
      }
    }

    h4 {
      padding-bottom: .7em;
      color: $white;
    }
 
    h4, p {
      max-width: 700px;
      margin: 0 auto;
      text-align: left;
      color: $white;
    }
  }

  #featured-project-1 {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/homepage-lo-pages-desktop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 100%;
    height: 700px;
  }

  #featured-project-2 {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/homepage-fontslate-desktop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 100%;
    height: 700px;
  }

  #featured-project-3 {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/71894/homepage-wedding-desktop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
    width: 100%;
    height: 700px;
  }

  .featured-project-text {
    background: $white;
    float: left;
    width: 100%;

    h5, h3, p {
      max-width: 700px;
      margin: 0 auto;
      text-align: left;
    }
  }

  .homepage-contact {
    background: $black;
    float: left;
    width: 100%;
    padding: 150px 0 100px 0;

    h2, p {
      color: $white;
    }

    h5 {
      text-transform: uppercase;
    }

    h5, li {
      color: $grey-mid;
    }
  }
   
  /* ABOUT */
  .resume-block {
    @media screen and (min-width: $break-large-width) {
      margin-top: 20px;
    }
  }

  /* NAVIGATION */
  header#navigation {
    bottom: 0;
  }

  #navigation {
    border-top: thin solid $grey;
    background: $white;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
  }

  li.active {
    background: $blue;

    a {
      color: $white;
    }
  }

  a.menu-link {
    float: right;
    display: block;
    padding: 1em;
  }

   nav[role=navigation] {
     clear: both;
     -webkit-transition: all 0.3s ease-out;  
        -moz-transition: all 0.3s ease-out;
         -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
             transition: all 0.3s ease-out;
   }

   .js nav[role=navigation] {
     overflow: hidden;
     max-height: 0;
   }

   nav[role=navigation].active {
     max-height: 15em;
   }

   nav[role=navigation] ul {
     margin: 0;
     padding: 0;
   }

   nav[role=navigation] li a {
     display: block;
     padding: 1em;
     text-align: center;
     text-transform: uppercase;
   }

  /* MASTHEAD */
  #masthead {
    background: $black;
    height: 60px;
    margin-bottom: 90px;

    img {
      float: left;
      margin: 10px 0 0 10px;
    }

    h4 {
      color: $white;
      float: right;
      margin: 15px 10px 0 0;
    }
  }
  /* RESPONSIVE IMAGE CAPTION HOVER */
  .view {
    padding: 1.250em;
    margin-top: 1em;

    @media screen and (min-width: $break-large-width) {
      width: 48.6%;
      height: 365px;
      padding: 0;
      float: left;
      overflow: hidden;
      position: relative;
      cursor: default;
      margin-right: 1em;
      -webkit-box-shadow: 1px 1px 2px $grey-light;
         -moz-box-shadow: 1px 1px 2px $grey-light;
              box-shadow: 1px 1px 2px $grey-light;
    }

    &:hover {
      img {
        @media screen and (min-width: $break-large-width) {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        }
      }

      .mask {
        @media screen and (min-width: $break-large-width) {
          opacity: 1;
        }
      }
      
      h3, a.info {
        @media screen and (min-width: $break-large-width) {
          opacity: 1;
          -webkit-transform: translateY(0px);
              -ms-transform: translateY(0px);
                  transform: translateY(0px);
        }
      }

      a.info {
        @media screen and (min-width: $break-large-width) {
          -webkit-transition-delay: 0.2s;
                  transition-delay: 0.2s;
        }
      }
    }

    .mask, .content {
      @media screen and (min-width: $break-large-width) {
        width: 100%;
        height: 365px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
      }
    }

    .mask {
      @media screen and (min-width: $break-large-width) {
        opacity: 0;
        background-color: rgba(188,216,245, 0.7);
        -webkit-transition: all 0.4s ease-in-out;
           -moz-transition: all 0.4s ease-in-out;
             -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
      }
    }

    img {
      @media screen and (min-width: $break-large-width) {
        display: block;
        position: relative;
        -webkit-transition: all 0.2s linear;
           -moz-transition: all 0.2s linear;
             -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
      }
    }

    h3 {
      margin-top: 0;
      text-align: center;
      padding: 0.938em;

      @media screen and (min-width: $break-large-width) {
        position: relative;
        transform: translateY(-100px);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
      }
    }
      
    a.info {
      @media screen and (min-width: $break-large-width) {
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
      }
    }
  }
  
   /* RESPONSIVE IMG SCROLL HOVER */
    .website-display-head {
      @media screen and (min-width: $break-medium-width) {
        width: 500px;
        height: 21px;
      }

      img {
        margin-bottom: 0;
      }
    }

   p + .website-display-head {
     margin-top: 1.563em;
   }

    .website-display {
      margin-bottom: 1.563em;
      @media screen and (min-width: $break-medium-width) {
        width: 500px;
        height: 350px;
        position: relative;
        background: $white;
        overflow: hidden;
        float: left;
      }

      img {
        @media screen and (min-width: $break-medium-width) {
          border-radius: 0 0 3px 3px;
          position: absolute;
          -webkit-transform: translateY(0);
             -moz-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0);
          transition: 3s all ease;
        }
      }
    }

    .fontslate {
      img:hover {
        @media screen and (min-width: $break-medium-width) {
          -webkit-transform: translateY(-230px);
             -moz-transform: translateY(-230px);
              -ms-transform: translateY(-230px);
                  transform: translateY(-230px);
        }
      }
    }

    .loprofile {
      img:hover {
        @media screen and (min-width: $break-medium-width) {
      -webkit-transform: translateY(-670px);
         -moz-transform: translateY(-670px);
          -ms-transform: translateY(-670px);
              transform: translateY(-670px);
        }
      }
    }

    .recruitprofile {
      img:hover {
        @media screen and (min-width: $break-medium-width) {
          -webkit-transform: translateY(-450px);
             -moz-transform: translateY(-450px);
              -ms-transform: translateY(-450px);
                  transform: translateY(-450px);
        }
      }
    }

   /* BUTTON */
   .button, .cd-form input[type="submit"] {
     background: $yellow;
     border: 1px solid $yellow;
     color: $black;
     display: inline-block;
     margin: 15px 0;
     padding: 10px 23px 10px 24px;
     text-transform: uppercase;
   }

   .button:hover, .no-touch .cd-form input[type="submit"]:hover {
     border: 1px solid $blue-dark;
     color: $blue-dark;
     background: none;  
   }

  .secondary-button {
   border: 1px solid $blue-dark;
   color: $blue-dark;
   display: inline-block;
   margin: 15px 0;
   padding: 10px 23px 10px 24px;
   text-transform: uppercase;
  }

  .secondary-button:hover {
    border: 1px solid $yellow;
    color: $black;
    background: $yellow;
  }

   /* FLAT LIST */
   ul.flat-list {
     list-style: none;
   }
   .flat-list li {
     display: inline-block;
   }
   /* GENERAL STYLES */
   *, *:after, *:before {
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
   }
   body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    overflow-x: hidden;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
   }
   @keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
   }
   @-moz-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
   }
   @-webkit-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
   }
   @-ms-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
   }
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  img {
    height: auto;
    margin-bottom: 1.563em;
    max-width: 100%;
  }
   
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: rgb(17,17,17);
  }
   
  h1 {
    font-size: 2.188em;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
   
  h2 {
    font-size: 1.625em;
    line-height: 1.250em;
    margin-bottom: 15px;
  }
   
  h4 {
    font-size: 1.313em;
    line-height: 1.250em;
  }
   
  h5 {
    font-size: 0.875em;
    line-height: 1.5em;
    margin-bottom: 15px;
  }
   
  a {
    text-decoration: none;
    color: $blue;
  }
   
  a:hover {
    color: $blue-dark;
    transition: all 0.9s ease;
  }
   
  ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
   
  p, ul {
    font-size: 1.2em;
    line-height: 1.4em;
    -webkit-padding-start: 0;
  }
   
  p a {
    font-size: 1.000em; 
  }

  p {
    margin-bottom: 1.5em;
  }

  h3 + p {
    margin-bottom: 20px;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .caption {
    color: $grey-dark;
    font-size: 1em;
    line-height: 1.2em;
  }

  main.grid {
    margin-bottom: 90px;
  }
  
  main img {
    border: 1px solid $grey-dark;
  }
  
  footer {
    background: $grey-light;
    bottom: 55px;
    float: left;
    position: relative;
    width: 100%;

    .social-links {
      background: $grey-dark; 
      color: $white;
      float: left;
      width: 100%; 
      @media screen and (min-width: $break-large-width) {
        width: 50%;
      }

      article {
        float: left;
        padding: 25px;
        @media screen and (min-width: $break-large-width) {
          float: right;
        }
      }
    }

    .copyright {
      float: right;
      padding: 30px 0 25px 25px;
      width: 100%; 
      @media screen and (min-width: $break-large-width) {
        width: 50%;
      }
    }
  }

  aside h5 {
    text-transform: uppercase;
  }
  div.col-1-4+div.col-1-2, section.col-3-3+section.col-3-3 {
    margin-top: 30px;
  }
  .mobile-hide {
    display: none;

    @media screen and (min-width: $break-medium-width) {
      display: block;
    }
  }
  /* GRID */
  .col-1-2 {
    width: 100%;
  }
  .col-1-3 {
    width: 100%;
  }
  .col-2-3 {
    width: 100%;
  }
  .col-3-3 {
    width: 100%;
  }
  .col-1-4 {
    width: 100%;
  }
   [class*='col-'] {
     float: left;
     padding-right: 0;
   }
   [class*='col-']:last-of-type {
     padding-right: 0;
   }
   .grid:after {
     content: "";
     display: table;
     clear: both;
   }
   .grid-pad {
     padding: 20px 0 20px 20px;
   }
   .grid-pad > [class*='col-']:last-of-type {
     padding-right: 20px;
   }
   .grid {
     max-width: 75em;
     margin: 0 auto;
     padding: 0 15px 0 15px;
   }

   @import 'partials/_media-query';

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: $black !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid $grey-mid;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
