doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I am a UX/UI designer who know has experience working on everything from landing pages to online apps.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    section.homepage-intro
      article
        h2 Hello, my name is
        h1 Andrew Wolson
        h3 I am a UX/UI Designer with a background in Print.
    section.homepage-work-feature-1
      article.homepage-feature-text
        h2 I have experience in Corporate design.
        p.homepage-feature-summary I worked for a corporation called EverBank for nearly 5 years. I started as a Graphic Designer and moved into a role as a UX Designer. I learned how a brand runs and opperatates. I saw how a re-brand works and how a creative organization opperates.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/work/everbank-loan-officer-website.html") View Case Study
    section.homepage-work-feature-2
      article.homepage-feature-text
        h2 I contribute to the Design Community.
        p.homepage-feature-summary I am the AIGA Jacksonville web chair. I work with a telented team of designers. My role as web chair allows me to focus on the website.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/work/everbank-loan-officer-website.html") View Case Study
    section.homepage-work-feature-3
      article.homepage-feature-text
        h2 I have experience creating small products.
        p.homepage-feature-summary I created a website about font information. Because I saw a gap in font resources for designers.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/work/everbank-loan-officer-website.html") View Case Study
    
    a.cta-bar(href="/work/")
      section
        p View my selected projects

    include ../components/script-calls/script-calls.jade
    script.
      // smooth scrolling for anchor tags
      $(document).ready(function() {
        $('a[href*=#]:not([href=#]):not([href=#menu])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });