doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I am a UX/UI designer who know has experience working on everything from landing pages to online apps.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    section.homepage-intro
      article.inside
        .unitiger
          h1 Andrew Wolson
          img(align="center" src="/img/unitiger-badge-index.png" alt="A badge with the words print, web, dev at the top. A tiger with a unicorn horn is at the center of the badge and dominates the badge.")
        .homepage-text
          h2 A UX/UI Designer with a background in Print.
        a(href="#featured-project-1")
          .icon-scroll 
    .chevron.chevron-intro
    
    section#featured-project-1
    .chevron.chevron-project-top
    section.featured-project-text
      article

        ul.flat-list
          li
            p  
              a.btn-white-bg(href="/work/everbank-loan-officer-website.html") EverBank :: View project &#x2192;
    .chevron.chevron-project-bottom

    section#featured-project-2
    .chevron.chevron-project-top
    section.featured-project-text
      article

        ul.flat-list
          li
            p  
              a.btn-white-bg(href="/work/aiga-jacksonville.html") AIGA Jacksonville :: View project &#x2192;
    .chevron.chevron-project-bottom

    section#featured-project-3
    .chevron.chevron-project-top
    section.featured-project-text
      article

        ul.flat-list
          li
            p  
              a.btn-white-bg(href="/work/fontslate-website.html") FontSlate :: View project &#x2192;
    include ../components/footer/footer.jade
    include ../components/navigation/primary-navigation.jade
    include ../components/script-calls/script-calls.jade
    script.
      // smooth scrolling for anchor tags
      $(document).ready(function() {
        $('a[href*=#]:not([href=#]):not([href=#menu])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });