doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Andrew Wolson :: UX/UI Designer, Print Designer
    meta(name="description" content="I am a UX/UI designer who has experience working on everything from landing pages to online apps.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    section.homepage-intro
      article
        h1 Andrew Wolson
        h3 UX/UI Designer with a background in Print.
    section.the-bar-chaplain.feature-2-3
      article.feature-text
        h2 I have experience with small companies.
        p.feature-summary I created the branding and design for an advocate of preaching beyond the walls of the church. Looking to break the stigma between Church and bar.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/work/the-bar-chaplain.html") View Case Study
    section.aiga-jacksonville.feature-1-3
      article.feature-text
        h2 I contribute to the Design Community.
        p.feature-summary I currently serve as the AIGA web chairman. As their web chair, I am responsible for maintaining the website. Working with other talented, community-centric designers is very rewarding. 
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/work/aiga-jacksonville.html") View Case Study
    section.everbank-loan-officer-website.feature-1-3
      article.feature-text
        h2 I have experience in Corporate design.
        p.feature-summary Working as a graphic designer and ultimately a UX designer, I gained deep knowledge on brand management (through operation and a rebrand) and organization operation from a creative standpoint.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/work/everbank-loan-officer-website.html") View Case Study
    a.cta-bar(href="/work/")
      section
        p View my selected projects

    section.skill-tree
      h2 Skill Tree
      .skill
        h5 UX Design
        .skill-bar
          .ux-design
            | &nbsp;
      .skill
        h5 UI Design
        .skill-bar
          .ui-design
            | &nbsp;
      .skill
        h5 HTML/JADE
        .skill-bar
          .html
            | &nbsp;
      .skill
        h5 CSS/SASS
        .skill-bar
          .css
            | &nbsp;
      .skill
        h5 Javascript
        .skill-bar
          .javascript
            | &nbsp;
      .skill
        h5 Design Thinking
        .skill-bar
          .design-thinking
            | &nbsp;
      .skill
        h5 Rapport Building
        .skill-bar
          .rapport-building
            | &nbsp;

    section.homepage-about-callout
      h2 I am a creative Green Beret.
      p I like to take on the Design challenges that others run from. I am the first one in and the last one out. Operating this way helps me to add value when problems arise. While I am an individual, I do not forget that a team creates something better as a whole. I support and build strong relatsionships with my co-workers.

    a.cta-bar(href="/about/")
      section
        p LEARN MORE ABOUT ME

    section.process-work.feature-3
      article.feature-text
        h2 Process work
        p.feature-summary I share my personal projects and how I created them.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/thoughts/im-board-6-from-paper-to-the-board.html") View Article

    section.know-how.feature-3
      article.feature-text
        h2 Know how
        p.feature-summary I believe in taking everything I learn and sharing with others.
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/thoughts/getting-started-with-sass.html") View Article
 
    section.inspiration-bank.feature-3
      article.feature-text
        h2 Inspiration Bank
        p.feature-summary Inspiration is the fuel I run on. This is some of what drives me. 
        ul.flat-list
          li
            p
              a.btn-white-bg(href="/thoughts/photo-gallery-red-square-at-night.html") View Article
    
    a.cta-bar(href="/thoughts/")
      section
        p VIEW MORE OF MY THOUGHTS
    include ../components/cta/contact-social-media.jade
    include ../components/footer/footer-congratulations.jade
    include ../components/script-calls/script-calls.jade
    script.
      // smooth scrolling for anchor tags
      $(document).ready(function() {
        $('a[href*=#]:not([href=#]):not([href=#menu])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });