doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Andrew Wolson is a UX and UI designer with a passion for tigers. - Wolson Design
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
  body
    // [if lt IE 8] <!
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    include ../components/navigation/navigation.jade
    section.homepage-intro
      article.inside
        .unitiger
          h1 Andrew Wolson
          img(align="center" src="/img/unitiger-badge-index.png" alt="A badge with the words print, web, dev at the top. A tiger with a unicorn horn is at the center of the badge and dominates the badge.")
        .homepage-text
          h4 Web and Print designer
          p I am a User Experience designer located in beautiful Jacksonville, Florida. I create design solutions that balance the business needs with the client experience. Data is the backbone of my designs. I use it to create and improve the user experience.
        ul.flat-list
          li
            p  
              a.secondary-button(href="/about") find out more about me &#x2192;
    .chevron.chevron-intro
    
    section#featured-project-1
    .chevron.chevron-project-top
    section.featured-project-text
        article
          .homepage-text
            h3 EverBank Loan Officer website
            p I was given the task of enhancing the user experience for the EverBank Loan Officer websites. The goal of the project was to get more new loan conversions and make it easier for existing customers to check on their loan status. The project was driven by web analytics, Loan Officer and client feedback.
          ul.flat-list(align="center")
            li
              p  
                a.secondary-button(href="/work/everbank-loan-officer-website.html") see the full project &#x2192;
    .chevron.chevron-project-bottom
   
    section#featured-project-2
    .chevron.chevron-project-top
    section.featured-project-text
        article
          .homepage-text
            h3 FontSlate website
            p FontSlate is a personal project of mine that was originally a student project. I created the site because professors would tell me I was using the wrong type. But when I asked them why. They would have no answer for me. After researching and finding font resources are few and far between. I decided to create a site that displayed everything I had learned about typography.
          ul.flat-list(align="center")
            li
              p  
                a.secondary-button(href="/work/fontslate-website.html") see the full project &#x2192;
    .chevron.chevron-project-bottom

    section#featured-project-3
    .chevron.chevron-project-top
    section.featured-project-text
        article
          .homepage-text
            h3 wedding pieces
            p I designed the wedding materials for my own wedding. I actually wanted to avoid designing our materials. Because I didn’t want to deal with a bridezilla. Even worse… my bridezilla. I decided to make the materials when I saw what other designers were charging for templates and services. The thought of creating my own pieces from scratch with cheap fonts and stock photos brought me to the realization that I might as well do it myself.
          ul.flat-list(align="center")
            li
              p  
                a.secondary-button(href="/work/wedding-collateral.html") see the full project &#x2192;
    .chevron.chevron-project-bottom

    section.homepage-contact
      article.inside
        .homepage-text
          h2 Got a new creative opportunity?
          p It would be awesome to work with you.
        ul.flat-list
          li
            p
              a.button(href="/contact/") Get in touch &#x2192;

    footer
      section.social-links
        article
          ul.flat-list
            li
              a(href="https://dribbble.com/wolsondesign") Dribbble 
              | &middot;
            li 
              a(href="http://codepen.io/wolsondesign/") CodePen 
              | &middot; 
            li 
              a(href="https://plus.google.com/u/0/+AndrewWolson?rel=author") g+ 
              | &middot; 
            li 
              a(href="https://twitter.com/wolsondesign") Twitter
      section.copyright
        h5 Copyright 2016 Andrew Wolson
          
    include ../components/script-calls/script-calls.jade
    script.
      // smooth scrolling for anchor tags
      $(document).ready(function() {
        $('a[href*=#]:not([href=#]):not([href=#menu])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });