section#masthead
  article
    a(href="/")
      h4.wordmark
        span W
        span.wordmark-part-2 olson 
        span.wordmark-part-3 W
        span.wordmark-part-4 eb Design
    include ../../components/navigation/secondary-navigation.jade 
